<!DOCTYPE html>
<html lang="en-US">
    <head>
	<meta charset="utf-8">
	<meta name="viewport"
	      content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="shortcut icon" href="<%- config.url -%>/static/img/favicon.png"/>

	<!-- Styles -->
	<link rel="stylesheet" href="/static/styles/css/vendor.css">    
	<link rel="stylesheet" href="/static/styles/css/style.css">

	<!-- Meta -->
	<title><%- config.title -%></title>
	<meta name="description" content="<%- config.description -%>">
	<meta name="author" content="<%- config.author -%>">
	<meta name="keywords" content="<%- config.keywords -%>">
	<!-- Twitter -->
	<meta property="twitter:card" content="summary_large_image" />
	<meta property="twitter:creator" content="" />
	<meta property="twitter:site" content="" />  
	<meta property="twitter:url" content="<%- config.url -%>" />
	<meta property="twitter:title" content="<%- config.title -%>" />
	<meta property="twitter:description" content="<%- config.description -%>" />
	<meta property="twitter:image"
	      content="<%- config.url -%>/static/img/social.png" />
	<!-- Facebook -->
	<meta property="og:url" content="<%- config.url -%>" />
	<meta property="og:description" content="<%- config.description -%>">
	<meta property="og:image"
	      content="<%- config.url -%>/static/img/social.png" />
	
    </head>

    <body>
