<%- include('elements/head') -%>
<%- include('elements/header') -%>


<div class="browse">
    <div class="container">
	<%//- include('elements/subscriptionbox') -%>
	<div class="row">
	    <div class="col-md-12 col-sm-12">
		<div class="posts-wrapper">		
		    <% posts.forEach(function(post){ %>
			<a href="/script/<%- post.slug -%>">
			    <article class="post-box">
				<div class="image-wrapper">
				    <div class="thumbnail"
					 style="background-image:
						url('<%- post.image -%>');">
				    </div>
				</div>
				<div class="description">
				    <h2><%- post.title -%></h2>
				    <div class="icons right hidden">
					<% if(post.series){ %>
					    <a href="/series/<%- post.seriesslug -%>">
						<i class="fa fa-list"></i>
					    </a>
					<% } %>
					<% if(post.author){ %>
					    <a href="/author/<%- post.authorslug -%>">
						<i class="fa fa-user-circle"></i>
					    </a>
					<% } %>
					<% if(post.imdb){ %>
					    <a href="<%- post.imdb -%>">
						<i class="fa fa-imdb"></i>
					    </a>
					<% } %>
				    </div><!-- End .icons -->

				</div>
				
			    </article>
			</a>
		    <% }) %>
		</div> <!-- End .posts-wrapper -->		
	    </div> <!-- End .col-md-12 -->
	</div> <!-- End .row -->
    </div> <!-- End .container -->
    <%- include('elements/cta') -%>    
</div> <!-- End .page-class -->

<%- include('elements/help-modal') -%>
<%- include('elements/footer') -%>
