<%- include('elements/head') -%>
<%- include('elements/header') -%>

<div class="post-detail">
    <div class="container">
	<div class="row">
	    <div class="col-md-12 col-sm-12">

		<article>
		    <div class="icons">
			<% if(post.imdb){ %>
			    <a href="<%- post.imdb -%>">
				<i class="fa fa-imdb"></i>IMDB
			    </a>
			<% } %>
			<% if(post.pdf){ %>
			    <a href="<%- post.pdf -%>">
				<i class="fa fa-download"></i>PDF
			    </a>
			<% } %>
			<a data-toggle="modal" data-target="#help-modal">
			    <i class="fa fa-question-circle"></i>Help
			</a>
			
		    </div>

		    <div class="screenplay">
			<div class="title-page">
			    <h1><%- post.title -%></h1>			    
			    <%//- post.titlePage -%>
			</div>			    
			<%- post.html -%>
		    </div>
		</article>

	    </div> <!-- End .col-md-12 -->
	</div> <!-- End .row -->
    </div> <!-- End .container -->
</div> <!-- End .page-class -->


<%- include('elements/help-modal') -%>
<%- include('elements/footer') -%>
