<%- include('elements/head') -%>
<%- include('elements/header') -%>

<div class="post-detail">
    <div class="container">
	<div class="row">
	    <div class="col-md-12 col-sm-12">

		<article>
		    <div class="icons">
			<a href=""><i class="fa fa-imdb"></i>IMDB</a>
			<a href=""><i class="fa fa-download"></i>PDF</a>
			<a href=""><i class="fa fa-question-circle"></i>Help</a>
		    </div>
		    <!-- <h1><%- post.title -%></h1> -->
		    <div class="screenplay">
			<div class="title-page">
			    <%- post.titlePage -%>
			</div>			    
			<%- post.html -%>
		    </div>
		</article>

	    </div> <!-- End .col-md-12 -->
	</div> <!-- End .row -->
    </div> <!-- End .container -->
</div> <!-- End .page-class -->

<%- include('elements/footer') -%>
